<Navbar />

<mat-drawer-container class="sidenav-container">
  <!-- Side Menu -->
  <mat-drawer mode="side" opened>
    <SideBar />
  </mat-drawer>

  <!-- <router-outlet></router-outlet> -->
  <div style="display: flex;justify-content: space-between;margin: 20px;">
    <p style="font-size:35px; font-family: Arial, Helvetica, sans-serif;text-wrap: nowrap;font-weight:bold;margin: 20px; color: #b61f33">Projects</p>   

    <button style="width:150px" mat-raised-button class="new" (click)="openForm('250ms', '250ms')" *ngIf="userRole==='project manager'">
      <mat-icon>add</mat-icon>  New Project </button>

   </div>

   <app-table [dataSource]="PROJECT_DATA" [columnMapping]="columnMapping" [table]="'project'" (deleteProject)="onDeleteProject($event)"></app-table>
</mat-drawer-container>

