<Navbar />

<mat-drawer-container class="sidenav-container">
  <!-- Side Menu -->
  <mat-drawer mode="side" opened>
    <SideBar />
  </mat-drawer>

  <!-- <router-outlet></router-outlet> -->
  <div style="display: flex;justify-content: space-between;margin: 20px;">
    <p style="font-size: 29px;font-weight: 500;">PROJECTS</p>   

    <button style="width:150px" mat-raised-button (click)="openForm('250ms', '250ms')" *ngIf="userRole==='project manager'">+New Project </button>

   </div>

   <app-table [dataSource]="PROJECT_DATA" [columnMapping]="columnMapping" [table]="'project'" (deleteProject)="onDeleteProject($event)"></app-table>
</mat-drawer-container>

