<h2 mat-dialog-title>Create New Action</h2>
<mat-dialog-content class="mat-typography">
  <form [formGroup]="actionForm" (ngSubmit)="onSubmit()">
    <mat-grid-list cols="3" rowHeight="90px">

      <!-- Header Row -->
      <mat-grid-tile colspan="3">
        <mat-grid-tile-header  style="background: linear-gradient(to right, #A02334, #FEB47B);"
        [ariaColSpan]="3" >          <p>Action Details</p>
        </mat-grid-tile-header>
      </mat-grid-tile>

      <!-- Project ID, Action ID, and Issue ID Row -->
      <mat-grid-tile  colspan="1">
        <mat-form-field appearance="outline">
          <mat-label>Project ID</mat-label>
          <input matInput id="project_id" formControlName="project_id">
          <mat-error *ngIf="actionForm.get('project_id')?.invalid && actionForm.get('project_id')?.touched">
            Project ID is required.
          </mat-error>
        </mat-form-field>
      </mat-grid-tile>

      <mat-grid-tile  colspan="1">
        <mat-form-field appearance="outline">
          <mat-label>Action ID</mat-label>
          <input matInput id="action_id" formControlName="action_id">
          <mat-error *ngIf="actionForm.get('action_id')?.invalid && actionForm.get('action_id')?.touched">
            Action ID is required.
          </mat-error>
        </mat-form-field>
      </mat-grid-tile>

      <mat-grid-tile  colspan="1">
        <mat-form-field appearance="outline">
          <mat-label>Issue ID</mat-label>
          <input matInput id="issue_id" formControlName="issue_id">
          <mat-error *ngIf="actionForm.get('issue_id')?.invalid && actionForm.get('issue_id')?.touched">
            Issue ID is required.
          </mat-error>
        </mat-form-field>
      </mat-grid-tile>

      <mat-grid-tile  colspan="1">
        <mat-form-field appearance="outline">
          <mat-label>Action Owner</mat-label>
          <input matInput id="action_owner" formControlName="action_owner">
          <mat-error *ngIf="actionForm.get('action_owner')?.invalid && actionForm.get('action_owner')?.touched">
            Action Owner is required.
          </mat-error>
        </mat-form-field>
      </mat-grid-tile>
      <mat-grid-tile  colspan="1">
        <mat-form-field appearance="outline">
          <mat-label>Action Status</mat-label>
          <input matInput id="action_status" formControlName="action_status">
          <mat-error *ngIf="actionForm.get('action_status')?.invalid && actionForm.get('action_status')?.touched">
            Action Status is required.
          </mat-error>
        </mat-form-field>
      </mat-grid-tile>
      <mat-grid-tile colspan="1">
        <mat-form-field appearance="outline">
          <mat-label>Target Date</mat-label>
          <input matInput id="target_date" type="date" formControlName="target_date">
          <mat-error *ngIf="actionForm.get('target_date')?.invalid && actionForm.get('target_date')?.touched">
            Target Date is required.
          </mat-error>
        </mat-form-field>
      </mat-grid-tile>
      <!-- Action Description, Owner, and Status Row -->
      <mat-grid-tile colspan="3">
        <mat-form-field style="width:900px;margin-top: 20px;" appearance="outline">
          <mat-label>Action Description</mat-label>
          <textarea matInput id="action_desc" formControlName="action_desc"></textarea>
          <mat-error *ngIf="actionForm.get('action_desc')?.invalid && actionForm.get('action_desc')?.touched">
            Action Description is required.
          </mat-error>
        </mat-form-field>
      </mat-grid-tile>


 

      <!-- Target Date and Remarks Row -->
      <mat-grid-tile colspan="3">
        <mat-grid-tile-header  style="background: linear-gradient(to right, #A02334, #FEB47B);"
        [ariaColSpan]="3" >          <p>Remarks</p>
        </mat-grid-tile-header>
      </mat-grid-tile>

      <mat-grid-tile colspan="3">
        <mat-form-field style="width:900px;margin-top: 20px;" appearance="outline">
          <mat-label>Remarks</mat-label>
          <textarea matInput id="remarks" formControlName="remarks"></textarea>
        </mat-form-field>
      </mat-grid-tile>

    </mat-grid-list>

    <!-- Action Buttons -->
    <mat-dialog-actions align="end">
      <button mat-button mat-dialog-close>Cancel</button>
      <button mat-button (click)="onSubmit()" [mat-dialog-close]="true" [disabled]="actionForm!.invalid" cdkFocusInitial>Submit</button>
    </mat-dialog-actions>
  </form>
</mat-dialog-content>
