
table .mat-table {
    width: 587px;
    height:683px;
    font-size:14px;
   
  }
  mat-card{
    /* width:200%;
    height:200vh;
    padding:20px; */
    max-width: 100%;
    margin: 20px;
    
  }
  th.mat-header-cell,
  td.mat-cell {
    background-color: white;
    font-family: Arial, Helvetica, sans-serif;
    /* width: 50px; */
    
  }
  
  .table-container {
    max-height: 400px; /* Adjust height as needed */
    overflow-y: auto;
    display: block;
    color: #DFA510;
}


/* .table-header, { */

    /* display: table;
    width: 100%;
    table-layout: fixed; 
} */

.table-container table {
    width: 100%;
}
  .card-container{
    border-radius:10px;
  }
  table.mat-table td.mat-cell:hover {
    background-color: #E8EEEE; 
    
  }
 
  /* .header-row {
    background-color: #35535C; 
  } */
  
  .data-row {
    background-color:white;
    font-family: cursive;
  }
  
  .table-cell {
  color: black; 
}

.data-text {
  color: black;
  text-overflow: ellipsis;
  max-width: 250px;
  min-width: 150px;
white-space: nowrap;
  overflow: hidden;

}
.mat-typography {
    font-size:14px;
}
.table-header{
    color:white;
    background-color: #A02334 !important;
}
.completed{
    background-color:rgba(26,147,46,21%);
    width:80px;
    padding-top:5px;
    padding-bottom:5px;
    padding-right:8px;
    padding-left:8px;
    text-align:center;
    color:#1A932E;
    border-radius:8px;
}
.in-progress{
    background-color:rgba(226,177,51,18%);
    width:80px;
    padding-top:5px;
    padding-bottom:5px;
    padding-right:8px;
    padding-left:8px;
    text-align:center;
    color:#DFA510;
    border-radius:8px;

}
.registered{
    background-color:rgba(26,147,46,21%);
    width:80px;
    padding-top:5px;
    padding-bottom:5px;
    padding-right:8px;
    padding-left:8px;
    text-align:center;
    color:#1A932E;
    border-radius:8px;

}
.cancelled{
    background-color:rgba(239,32,28,18%);
    width:80px;
    padding-top:5px;
    padding-bottom:5px;
    padding-right:8px;
    padding-left:8px;
    text-align:center;
    color:#EE201C;
    border-radius:8px;

}
.pending{
    background-color:rgba(230,95,43,18%);
    width:80px;
    padding-top:5px;
    padding-bottom:5px;
    padding-right:8px;
    padding-left:8px;
    text-align:center;
    color:#E65F2B;
    border-radius:8px;

}

.custom-column {
    width: 200px;
  }
/* 
  .data-text {
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
   */
  .ellipsis {
    max-width: 100px; /* Adjust based on your needs */
  }
  
  .data-text.expanded {
    white-space: normal;
  }
  .desc-text {
    display: inline-block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    max-width: 200px; /* Adjust based on your needs */
  }
  
  .desc-text.expanded {
    white-space: normal;
    max-width: none;
  }
  
  .no-data {
    text-align: center;
    padding: 20px;
    font-size: 18px;
    color: #A02334;
  }