<Navbar />

<mat-drawer-container class="sidenav-container">
  <!-- Side Menu -->
  <mat-drawer mode="side" opened>
    <SideBar />
  </mat-drawer>
  <!-- <div class="sidebar">
  <a class="active" href="/dashboard" style="text-align:center;">Dashboard</a>
  <a class="active" href="/project" style="text-align:center;">Projects</a>
  <a class="active" href="/issues" style="text-align:center;">Key Issues</a>
  <a class="active" href="/action" style="text-align:center;">Required Actions</a>
  </div> -->

<div class="row">
<div class="column"> 
  <div class="card">
  <div class="card-header">
    Projects
  </div>
  <div class="card-body">
    <div class="left-section">
      <img src="assets/project.png" alt="Image" padding-top="20px" height="60px" width="60px">
    </div>
    <div class="right-section">
      <p>*count</p>
    </div>
</div>
</div>
</div>

<div class="column"> 
  <div class="card">
  <div class="card-header">
    Key Issues
  </div>
  <div class="card-body">
    <div class="left-section">
      <img src="assets/project.png" alt="Image" padding-top="20px" height="60px" width="60px">
    </div>
    <div class="right-section">
      <p>Count</p>
    </div>
  </div>
</div>
</div>

<div class="column">
  <div class="card" >
  <div class="card-header">
   Required Actions
  </div>
  <div class="card-body">
    <div class="left-section">
      <img src="assets/project.png" alt="Image" padding-top="20px" height="60px" width="60px">
    </div>
    <div class="right-section">
      <p>Count</p>
    </div>  </div>
</div>
</div>
</div>
</mat-drawer-container>


  

  

  
  
