
<Navbar />

<mat-drawer-container class="sidenav-container">
  <!-- Side Menu -->
  <mat-drawer mode="side" opened>
    <SideBar />
  </mat-drawer>
  <!-- <div class="sidebar">
  <a class="active" href="/dashboard" style="text-align:center;">Dashboard</a>
  <a class="active" href="/project" style="text-align:center;">Projects</a>
  <a class="active" href="/issues" style="text-align:center;">Key Issues</a>
  <a class="active" href="/action" style="text-align:center;">Required Actions</a>
  </div> -->

  <div class="cards-container">
    <mat-card class="card" >
    <!-- *ngFor="let card of cards"> -->
        <mat-card-header>
            <img mat-card-avatar class="header-image" src=""/>
            <!-- {{card.image_path}} /> -->
        </mat-card-header>
        <mat-card-content>
            <div>
                <p class="card-title">
                    <!-- {{card.title}} -->
                     Action
                </p>
                <div class="sub-val-container">
                    <p class="card-value">
                      <!-- {{card.value}} -->10
                    </p>
                    <!-- <span *ngIf="card.total_value" class="sub"> / {{card.total_value}}</span> -->
                </div>

            </div>
        </mat-card-content>
    </mat-card>
</div>