/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
.sidenav-container{
    height: 91%;
}
body{
  overflow-y:hidden;
}

.sidenav-container button {
    width: 100%;
    margin: var(--sidenav-button-margin); 
}

.mat-drawer {
    width: 250px;
    padding: 10px;
    background: linear-gradient(to bottom, #A02334, #FEB47B)}

    .mat-drawer-content{
        overflow:hidden !important;
      }
      .mat-drawer-container {
        display: unset !important;
      }