<Navbar/>
  <mat-drawer-container class="sidenav-container">
    <!-- Side Menu -->
    <mat-drawer mode="side" opened>
      <SideBar/>
    </mat-drawer>
    <!-- <router-outlet></router-outlet> -->
    <div style="display: flex;justify-content: space-between;margin: 20px;">
      <p style="font-size: 29px;font-weight: 500;">REQUIRED ACTIONS</p>   
      <button style="width:150px" mat-raised-button (click)="openForm('500ms', '500ms')" *ngIf="userRole==='developer'">+New Action</button>
     </div>
  
     <!-- <app-table [dataSource]="PROJECT_DATA" [columnMapping]="columnMapping"></app-table> -->
     <app-table [dataSource]="ACTION_DATA" [columnMapping]="columnMapping" [table]="'action'" (deleteProject)="onDeleteProject($event)"></app-table> 
  </mat-drawer-container>

