<Navbar/>
<mat-drawer-container class="sidenav-container">
  <!-- Side Menu -->
  <mat-drawer mode="side" opened>
   <SideBar/>
  </mat-drawer>
  <!-- <router-outlet></router-outlet> -->
  <div style="display: flex;justify-content: space-between;margin: 20px;">
    <p style="font-size: 29px; text-wrap: nowrap; font-weight: 500;">KEY ISSUES</p>   

    <button mat-raised-button 
    (click)="openForm('500ms', '500ms')"*ngIf="userRole==='tester'">+New Project</button>

   </div>

   <app-table [dataSource]="ISSUE_DATA" [columnMapping]="columnMapping" [table]="'issue'"></app-table>
  </mat-drawer-container>

