<h2 mat-dialog-title>Create New issue</h2>
<mat-dialog-content class="mat-typography">
<form [formGroup]="issueForm" (ngSubmit)="onSubmit()">
   
    <div class="formDiv">
      <div>
        <label for="issue_id">Issue ID <span>*</span></label>
        <input id="issue_id" type="text" formControlName="issue_id">
        <div *ngIf="issueForm.get('issue_id')?.invalid && issueForm.get('issue_id')?.touched">
          issue ID is required.
        </div>
      </div>
   
      <div>
        <label for="issue_name">Issue Name<span>*</span></label>
        <input id="issue_name" type="text" formControlName="issue_name">
        <div *ngIf="issueForm.get('issue_name')?.invalid && issueForm.get('issue_name')?.touched">
          issue Name is required.
        </div>
      </div>
    </div>
 
    
    <div>
        <div>
        <label for="action_owner">Action Owner Name<span>*</span></label>
        <input id="action_owner" type="text" formControlName="action_owner">
        <div *ngIf="issueForm.get('action_owner')?.invalid && issueForm.get('action_owner')?.touched">
            Action Owner is required.
        </div>
    </div>
 
    <div>
      <label for="owner_Id">Owner ID<span>*</span></label>
      <input id="owner_Id" type="text" formControlName="owner_Id">
      <div *ngIf="issueForm.get('owner_Id')?.invalid &&
      issueForm.get('owner_Id')?.touched">
        Owner ID is required.
      </div>
    </div>
    </div>
 
    <div>
        <div>
        <label for="action_Owner_dept">Action Owner Department<span>*</span></label>
        <input id="action_Owner_dept" type="text" formControlName="action_Owner_dept">
        <div *ngIf="issueForm.get('action_Owner_dept')?.invalid && issueForm.get('action_Owner_dept')?.touched">
            Action Owner Department is required.
        </div>
        </div>
        <div class="divGrid">
   
            <div>
                <label for="issue_Status">Status<span>*</span></label>
                <input id="issue_Status" type="text" formControlName="issue_Status">
                <div *ngIf="issueForm.get('issue_Status')?.invalid && issueForm.get('issue_Status')?.touched">
                    issue Status is required.
                </div>
            </div>
        </div>
   
    </div>
 
  <div>
    <label for="issue_desc">issue Description<span>*</span></label>
    <textarea id="issue_desc" formControlName="issue_desc"></textarea>
    <div *ngIf="issueForm.get('issue_desc')?.invalid && issueForm.get('issue_desc')?.touched">
      issue Description is required.
    </div>
  </div>
 
  <div>
    <div>
      <label for="issueRaiseddate">Issue Raised Date<span>*</span></label>
      <input id="issueRaiseddate" type="date" formControlName="issueRaiseddate">
      <div *ngIf="issueForm.get('issueRaiseddate')?.invalid && issueForm.get('issueRaiseddate')?.touched">
      </div>
    </div>  
  </div>

  <div>
    <div>
      <label for="issuetargetDate">Issue Raised Date<span>*</span></label>
      <input id="issuetargetDate" type="date" formControlName="issuetargetDate">
      <div *ngIf="issueForm.get('issuetargetDate')?.invalid && issueForm.get('issuetargetDate')?.touched">
      </div>
    </div>  
  </div>
   
 
    <div>
      <label for="remarks">Remarks:</label>
      <textarea id="remarks"type="text" formControlName="remarks"></textarea>
    </div>
 
    <!-- <button type="submit" [disabled]="issueForm!.invalid">Submit</button> -->

   
</form>
</mat-dialog-content>
<mat-dialog-actions align="end">
    <button mat-button  mat-dialog-close>Cancel</button>
    <button mat-button [mat-dialog-close]="true" [disabled]="issueForm!.invalid" cdkFocusInitial>Submit</button>
</mat-dialog-actions>
 