<h2 mat-dialog-title>Create New Issue</h2>
<mat-dialog-content class="mat-typography">
  <form [formGroup]="issueForm" (ngSubmit)="onSubmit()">
    <mat-grid-list cols="3" rowHeight="90px">

      <!-- Header Row -->
      <mat-grid-tile colspan="3">
        <mat-grid-tile-header  style="background: linear-gradient(to right, #A02334, #FEB47B);"
        [ariaColSpan]="3" >          <p>Issue Details</p>
        </mat-grid-tile-header>
      </mat-grid-tile>

      //PROJECTID

      <mat-grid-tile>
        <mat-form-field appearance="outline">
          <!-- <mat-label>PROJECT ID</mat-label> -->
          <!-- <input matInput id="project_id" formControlName="project_id"> -->
          <mat-label>Project ID</mat-label>
          <mat-select formControlName="project_id">
            <mat-option *ngFor="let id of projectIds" [value]="id">
              {{ id }}
            </mat-option>
          </mat-select>
          <mat-error *ngIf="issueForm.get('project_id')?.invalid && issueForm.get('project_id')?.touched">
            Project ID is required.
          </mat-error>
        </mat-form-field>
      </mat-grid-tile>

      <!-- Issue ID, Name, and Status Row -->
      <mat-grid-tile>
        <mat-form-field appearance="outline">
          <mat-label>Issue ID</mat-label>
          <input matInput id="issue_id" formControlName="issue_id">
          <mat-error *ngIf="issueForm.get('issue_id')?.invalid && issueForm.get('issue_id')?.touched">
            Issue ID is required.
          </mat-error>
        </mat-form-field>
      </mat-grid-tile>

      <mat-grid-tile>
        <mat-form-field appearance="outline">
          <mat-label>Project Name</mat-label>
          <input matInput id="project_name" formControlName="project_name">
          <mat-error *ngIf="issueForm.get('project_name')?.invalid && issueForm.get('project_name')?.touched">
            Project Name is required.
          </mat-error>
        </mat-form-field>
      </mat-grid-tile>

      <mat-grid-tile>
        
        <mat-form-field appearance="outline">
          <mat-label>Status</mat-label>
          <!-- <input matInput id="issue_Status" formControlName="issue_Status"> -->
          <mat-select formControlName="issue_Status">
            <mat-option *ngFor="let id of issueStat" [value]="id">
              {{ id }}
            </mat-option>
          </mat-select>
          <mat-error *ngIf="issueForm.get('issue_Status')?.invalid && issueForm.get('issue_Status')?.touched">
            Issue Status is required.
          </mat-error>
        </mat-form-field>
      </mat-grid-tile>

      <!-- Issue Raised Date, Target Date, and Description Row -->
      <mat-grid-tile>
        <mat-form-field appearance="outline">
          <mat-label>Issue Raised Date</mat-label>
          <input matInput [matDatepicker]="picker2"  [min]="minDate" id="issueRaiseddate" formControlName="issueRaiseddate">
          <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
          <mat-datepicker #picker2></mat-datepicker>
          <mat-error *ngIf="issueForm.get('issueRaiseddate')?.invalid && issueForm.get('issueRaiseddate')?.touched">
            Issue Raised Date is required.
          </mat-error>
        </mat-form-field>
      </mat-grid-tile>

      <mat-grid-tile>
        <mat-form-field appearance="outline">
          <mat-label>Issue Target Date</mat-label>
          <input matInput [matDatepicker]="picker1"   [min]="minDate" id="targetDate" formControlName="targetDate">
          <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
          <mat-datepicker #picker1></mat-datepicker>
          <mat-error *ngIf="issueForm.get('targetDate')?.invalid && issueForm.get('targetDate')?.touched">
            Target Date is required.
          </mat-error>
        </mat-form-field>
      </mat-grid-tile>

      <mat-grid-tile colspan="3">
        <mat-form-field style="width:900px;margin-top: 20px;" appearance="outline" floatLabel="auto">
          <mat-label>Issue Description</mat-label>
          <textarea matInput id="issue_desc" formControlName="issue_desc"></textarea>
          <mat-error *ngIf="issueForm.get('issue_desc')?.invalid && issueForm.get('issue_desc')?.touched">
            Issue Description is required.
          </mat-error>
        </mat-form-field>
      </mat-grid-tile>

      <!-- Account Owner Details Header -->
      <mat-grid-tile colspan="3">
        <mat-grid-tile-header  style="background: linear-gradient(to right, #A02334, #FEB47B);"
        [ariaColSpan]="3" >          <p>Action Owner Details</p>
        </mat-grid-tile-header>
      </mat-grid-tile>

      <!-- Action Owner Name, ID, Department Row -->
      <mat-grid-tile>
        <mat-form-field appearance="outline">
          <mat-label>Action Owner Name</mat-label>
          <input matInput id="action_owner" formControlName="action_owner">
          <mat-error *ngIf="issueForm.get('action_owner')?.invalid && issueForm.get('action_owner')?.touched">
            Action Owner Name is required.
          </mat-error>
        </mat-form-field>
      </mat-grid-tile>

      <mat-grid-tile>
        <mat-form-field appearance="outline">
          <mat-label>Owner ID</mat-label>
          <input matInput id="owner_Id" formControlName="owner_Id">
          <mat-error *ngIf="issueForm.get('owner_Id')?.invalid && issueForm.get('owner_Id')?.touched">
            Owner ID is required.
          </mat-error>
        </mat-form-field>
      </mat-grid-tile>

      <mat-grid-tile>
        <mat-form-field appearance="outline">
          <mat-label>Action Owner Department</mat-label>
          <input matInput id="action_Owner_dept" formControlName="action_Owner_dept">
          <mat-error *ngIf="issueForm.get('action_Owner_dept')?.invalid && issueForm.get('action_Owner_dept')?.touched">
            Action Owner Department is required.
          </mat-error>
        </mat-form-field>
      </mat-grid-tile>

      <!-- Remarks Header -->
      <mat-grid-tile colspan="3">
        <mat-grid-tile-header  style="background: linear-gradient(to right, #A02334, #FEB47B);"
        [ariaColSpan]="3" >          <p>Remarks</p>
        </mat-grid-tile-header>
      </mat-grid-tile>

      <mat-grid-tile colspan="3">
        <mat-form-field style="width:900px;margin-top: 20px;" appearance="outline" floatLabel="auto">
          <mat-label>Remarks</mat-label>
          <textarea matInput id="remarks" formControlName="remarks"></textarea>
        </mat-form-field>
      </mat-grid-tile>

    </mat-grid-list>

    <!-- Action Buttons -->
    <mat-dialog-actions align="end">
      <button mat-button class="cancl" mat-dialog-close>Cancel</button>
      <button mat-button class="subbtn" (click)="onSubmit()" [mat-dialog-close]="true" [disabled]="issueForm!.invalid" cdkFocusInitial>Submit</button>
    </mat-dialog-actions>
  </form>
</mat-dialog-content>
