/* login.component.css */

.login-container {
  width: 100%;
  max-width: 800px;
  margin-bottom: 20px;
  margin-right: px;
margin-left: 70px;  
}

.login-image {
  width: 100%;
  height: 100%;
  object-fit: fill;
}

.login-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 20px;
}

h2 {
  text-align: center;
  margin-bottom: 20px;
}

.form-group {
  margin-bottom: 15px;
}

.form-control {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.error {
  color: red;
  font-size: 12px;
}

button {
  width: 100%;
  padding: 10px;
  font-size: 16px;
}
