@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

/* .section-title {
    margin: 20px 0;
  }

  .mat-divider {
    margin: 10px 0;
  } */

  /* gradient.component.css */

/* Apply a linear gradient to a card */

:host {
  font-family: 'Poppins', sans-serif;
  font-weight: bold;
}

mat-grid-tile-header p, /* Apply to headers */
mat-form-field label,   /* Apply to form field labels */
/* mat-grid-tile input,    Apply to inputs */
/* mat-grid-tile textarea, Apply to textareas */
mat-dialog-title,       /* Apply to dialog titles */
mat-dialog-content {    /* Apply to dialog content */
  font-family: 'Poppins', sans-serif;
  font-weight: bold;
}

.subbtn:hover {
  background-color: #c83a4c !important; /* Change background color on hover */
  color: white !important; /* Change text color on hover */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Add shadow effect on hover */
  transform: scale(1.05); /* Slightly increase size on hover */
}

.cancl:hover:hover {
  background-color: #c83a4c !important; /* Change background color on hover */
  color: white !important; /* Change text color on hover */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Add shadow effect on hover */
  transform: scale(1.05); /* Slightly increase size on hover */
}

